@import url(icon.css);
@import url(easyui.css);
@charset "utf-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td,span,i{ margin: 0;padding: 0;}
body,button, input, select, textarea,iframe{border: 0;font:12px/1.14 "Microsoft Yahei",\5b8b\4f53,arial;color:#4f5159;outline:none;}
.ke-dialog-content select{border:1px;}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
ul,ol,li {list-style: none;}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var , i{ font-style: normal; } 
code, kbd, pre, samp, tt { font:12px/1.14 "Microsoft Yahei",arial,\5b8b\4f53; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none;outline:none;}
a:hover { text-decoration: none; }
abbr[title], acronym[title] { border-bottom: 1px dotted;cursor: help;}
q:before, q:after { content: ''; }
fieldset, img { border: none; }
button, input, select, textarea { font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
hr {border: none;height: 1px;}
html { overflow-y: scroll; }
a:focus, a:active, 
button::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0;outline : 0; } 
body{background:#fff;font:12px/1.14 "Microsoft Yahei",arial,\5b8b\4f53;}
a,a:hover{color:#4f5159; cursor:pointer;}
.tal{ text-align:left;}
/* function */
.f_ohell{overflow:hidden; text-overflow:ellipsis;white-space: nowrap;}
.f_cb:after,.f_cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f_cb,.f_cbli li{zoom:1;}
.f_ib{display:inline-block;*display:inline;*zoom:1;}
.clear{ clear:both; height:0; line-height:0; font-size:0;}
.clearfix:after{ content:""; clear:both; height:0; visibility:hidden; display:block;}
.clearfix{*zoom:1}
.f_dn{display:none;}
.f_db{display:block;}
.f_ldb{display:inline-block;}
.f_fl{float:left;}
.f_fr{float:right;}
.f_pr{position:relative;}
.f_prz{position:relative;zoom:1;}
.f_oh{overflow:hidden;}
.f_underline{ text-decoration:underline;}
.f_ff0{font-family:arial,\5b8b\4f53;}
.f_ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f_fw{font-family:"Microsoft YaHei"}
.lbtit_color{font-family:"Microsoft YaHei"}
.f_fs1{font-size:12px;}
.f_fs2{font-size:14px;}
.f_fwn{font-weight:normal;}
.f_fwb{font-weight:bold;}
.f_tal{text-align:left;}
.f_tac{text-align:center;}
.f_tar{text-align:right;}
.f_vtop{vertical-align:top;}
.f_taj{text-align:justify;text-justify:inter-ideograph;}
.f_vam,.f_vama *{vertical-align:middle;}
.f_wsn{word-wrap:normal;white-space:nowrap;}
.f_pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f_wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f_ti{overflow:hidden;text-indent:-30000px;}
.f_ti2{text-indent:2em;}
.f_lhn{line-height:normal;}
.f_tdu,.f_tdu:hover{text-decoration:underline;}
.f_tdn,.f_tdn:hover{text-decoration:none;}
.f_toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f_csp{cursor:pointer;}

/*--margin--*/
.f_mt5 {margin-top:5px;}
.f_mt10 {margin-top:10px;}
.f_mt15 {margin-top:15px;}
.f_mt20 {margin-top:20px;}
.f_mt25 {margin-top:25px;}
.f_mt30 {margin-top:30px;}
.f_mt35 {margin-top:35px;}
.f_ml10 {margin-left: 10px;}
.f_ml15 {margin-left: 15px;}
.f_ml20 {margin-left: 20px;}
.f_ml25 {margin-left: 25px;}
.f_ml30 {margin-left: 25px;}
.f_ml35 {margin-left: 35px;}
.f_ml55 {margin-left: 55px;}
.f_ml145 {margin-left: 145px;}

.f_mr10 {margin-right: 10px;}
.f_mr15 {margin-right: 15px;}
.f_mr20 {margin-right: 20px;}
.f_mr25 {margin-right: 25px;}
.f_mr30 {margin-right: 30px;}
.f_mr35 {margin-right: 35px;}
.f_mr55 {margin-right: 55px;}
.f_mr70 {margin-right: 70px;}


.f_mb10 {margin-bottom:10px;}
.f_mb15 {margin-bottom:15px;}
.f_mb25 {margin-bottom:25px;}
.f_mb30 {margin-bottom:30px;}
.f_mb35 {margin-bottom:35px;}
.fm5{ margin:0 5px;}
.dlk{ display:inline-block;}
.lh28{ line-height:28px;}
/*padding*/
.pd010 {padding:0 10px;}
.pad2520 {padding: 25px 20px;}
.f_pdt10 {padding-top:10px;}
.f_pdt30 {padding-top:30px;}
.f_pdt20 {padding-top:20px;}
.f_pdl15 {padding-left:15px;}
.f_pdl20 {padding-left:20px;}
.f_pdb10 {padding-bottom:10px;}
.f_pdb20 {padding-bottom:20px;}
.f_pdb30 {padding-bottom:30px;}

/*color*/
.f_cof00{ color:#F00;}
.f_cof60{ color:#F60;}
.f_cofff{ color:#FFF;}
.f_co000{ color:#000;}
.f_co666{ color:#666;}


/*--table width--*/
.td10 {width: 10%;}
.td12 {width: 12%;}
.td20 {width: 20%;}
.td30 {width: 30%;}
.td35 {width: 35%;}
.wth85 {width: 85px;}
.w110{ width:100px;}
.w70{ width:70px;}
input.wth125,span.wth125{width: 125px;}
input.wth185,span.wth185{width: 185px;}
.wth195 {width: 195px;}
.wth220 {width: 220px;}
.wth240 {width: 240px;}
.wth270 {width: 270px;}

/*-- height--*/
.f_h35 {height: 35px;}
.f_lht27 {line-height: 27px;}
.f_lht18 {line-height: 18px;}
.lht24 {line-height: 24px;}
.f_lht30 {line-height: 30px;}
.bor_top {border-top: 1px solid #dcdcdc;}

/*===============主体架构================*/

/* Layout */
.top_line {height:60px;border-bottom: 2px solid #f18d14;background: url(hd_bg.jpg) no-repeat center top / cover ;}
.header{ overflow: hidden; }
.nsw_logo {float:left; width:220px;height:60px;background: url(logo.png) 0 center no-repeat;}
.nsw_logo img {display: block;}
.nsw_tools { position:absolute; right:10px; top:28px;}
a.adm,.nsw_add,.save_btn .mini_ico,.clear_x,.revise_sub,.e_btn1 .save_icon,.role_batch_addbtn,
.e_btn1 .regist_icon,.e_btn1 .sure_icon,.e_btn1 .next_icon,.search_so .so_btn,.advan_so_btn,.advan_btn,.advan_so_btn, .role_addbtn,.design_viewbtn,.design_loadbtn,.e_edi,
.e_edi1,.get_item i,.pic_manage,.create_album,.e_btn1 .insert_icon,.e_btn2 .viewCancle_icon,
.water_loadbtn,.e_btn2 .browse_icon {background: url(main_sprit1.png) no-repeat;}
.content,.header,.footer {}
.col_side {float:left;width: 202px;z-index:99;border: 1px solid #e6e6e6;border-width: 0 1px 1px 1px;border-radius: 2px;background: #f6f6f6;}
.float_box { margin-left:220px;}  
.col_main {margin-top: 16px;}
.foot {margin-top: 10px;padding-top:20px;height:32px; border-top: 2px solid #f18d14; background: #fffaf4;}
.footer{ color:#515567;text-align:center;overflow: hidden; position: relative; }
.menu .mu_ico,.mu_more .mu_more_btn .yel_ico,.drag_receive span {background: url(sidebar_mu.png) no-repeat;}
#nsw_main{  position: relative; z-index: 0; min-height: 575px;}
/* right_box */

.wel_name {float: left;padding: 12px 0 12px 15px;}
.e_radio {padding: 0 0 0 20px;cursor: pointer;display: block;}



/*工具条*/
.nsw_check_btns {padding: 15px 0;}
.nsw_check_btns li {float: left;height: 24px;line-height:24px;background: #fff;color: #3e4048;border: 1px solid #dcdcdc;}
.nsw_check_btns li span {padding:0 11px;cursor: pointer;}
.nsw_check_btns li .sele_all {display: inline-block;padding-left:23px;margin-left:7px;position: relative;}
.nsw_check_btns li .sele_all .e_word {position: absolute;left: 0;top: -2px;}
.batch_act {margin: 15px 0 15px 20px;position: relative;}
.batch_act .c_act {display: block;width:106px;text-align:right;line-height:24px;border: 1px solid #dcdcdc;background: #fff; cursor:pointer;}
.batch_act .c_act .tri_up {display: inline-block;width: 8px;height: 4px;margin: 10px 15px 0 10px;background: url(main_sprit1.png) no-repeat -69px -577px;}
.batch_act .z_select {color: #f08300;border-color: #f08300;}
.batch_act .z_select .tri_up {background: url(main_sprit1.png) no-repeat -38px -577px;} 
.batch_dropup {display:none;position: absolute;left: 0;bottom: 26px;z-index:100;width: 100%;border: 1px solid #dcdcdc;border-width: 1px 1px 0 1px;box-sizing:border-box;background: #fff;}
.batch_dropup li {padding:0 3px;height: 24px;line-height: 24px;border-bottom: 1px dashed #dcdcdc;cursor: pointer;}
.batch_dropup li a{ display:block;}
.batch_dropup li:hover {background: #f6f6f6;}
.batch_dropup li:last-child,.batch_dropup li.nobd {border-bottom: none;}

.nsw_pagination {padding: 15px 0;}
.p_numb {padding:0 10px;line-height: 26px;}
.pageList_btn{ border:1px solid #dcdcdc;height:26px;padding: 0px 5px 0px 10px;}
.page_downside {position: relative;}
.page_down {border: 1px solid #dcdcdc;}
.page_down .get_page {float:left;display:block;width: 38px;height: 24px;line-height: 24px;text-align: center;background: #fff;}
.page_down i {float:left;display:block;width: 19px;height: 24px;border-left: 1px solid #dcdcdc;background: url(main_sprit1.png) no-repeat -262px -569px #fff;cursor: pointer;}
.page_drop {display:none;width:100%;position:absolute;left:0;top:26px;line-height:18px;border:1px solid #dcdcdc;border-width: 0 1px;}
.page_drop li {text-align:center;border-bottom: 1px solid #dcdcdc;cursor: pointer;}
.page_drop li:hover {color: #f08300;}
.pageDown_btn {margin-left: 10px;height: 24px;border: 1px solid #dcdcdc;border-right: none;background: #fff;}
.pageDown_btn span {float:left;display:block;width: 38px;height: 24px;border-right:1px solid #dcdcdc;cursor: pointer;}
.pageDown_btn span.p_prev {background: url(main_sprit1.png) no-repeat -107px -568px;}
.pageDown_btn span.p_next {background: url(main_sprit1.png) no-repeat -177px -568px;}



/*状态*/
.e_click_btn {display: inline-block;width: 14px;height: 14px;background: url(main_sprit1.png) no-repeat -369px -455px;}
.e_word {display: block;width: 14px;height: 14px;margin-top:7px;background: url(main_sprit1.png) no-repeat 0 -256px;cursor: pointer;}
.e_word.z_select {background: url(main_sprit1.png) no-repeat 0 -300px;}
.e_circle {display: inline-block;width: 14px;height: 14px;background: url("main_sprit1.png") no-repeat -369px -455px;}
.e_lowpoint {display: inline-block;width: 14px;height: 14px;background: url("main_sprit1.png") no-repeat 0 -340px;cursor: pointer;}
/*.e_lowpoint {display: inline-block;width: 14px;height: 14px;background: url("main_sprit1.png") no-repeat 0 -375px;cursor: pointer;}*/
/*.z_lowpoint {background: url("main_sprit1.png") no-repeat -250px -127px;}*/
.z_lowpoint {background: url("main_sprit1.png") no-repeat -159px -199px;}

/*下拉框*/
.nsw_dropdown_box {width: 78px;line-height:18px;position: relative;}
.nsw_dropdown_box .get_item {display:block;position:relative;padding: 0 16px 0 10px;border: 1px solid #dcdcdc;cursor: pointer;}
.nsw_dropdown_box .get_item i {display:block;position: absolute;right: 6px;top: 8px;width: 8px;height: 4px;background-position: -69px -577px;}
.nsw_dropdown_box .get_item.zon {color: #f08300;border: 1px solid #f08300;}
.nsw_dropdown_box .get_item.zon i {background-position: -38px -577px;}
.nsw_dropdown {display:none;width:100%;position:absolute;left:0;top:20px;}
.drop_ul {line-height:18px;border:1px solid #dcdcdc;border-width: 0 1px;}
.drop_ul li {text-align:center;border-bottom: 1px solid #dcdcdc;cursor: pointer;}
.drop_ul li:hover {color: #f08300;}

/*删除*/
.admin_dele {display: inline-block;width: 12px;height: 12px;cursor:pointer;background: url(main_sprit1.png) no-repeat -369px -492px;}

/*排序按钮*/
.nsw_tabsort span {display: inline-block;width:12px;height:12px;background:url(main_sprit1.png) no-repeat;cursor: pointer;}
.nsw_tabsort span.e_up {background-position: -525px -408px;margin-right:2px;}
.nsw_tabsort span.e_up:hover {background-position: -525px -420px;}
.nsw_tabsort span.e_down {background-position: -537px -408px;}
.nsw_tabsort span.e_down:hover {background-position: -537px -420px;}
.e_up.no_bg,.e_down.no_bg { background: none;cursor: default;}








/*最大宽度为1200px*/
@media (max-width:1200px) {
	.content,.header,.footer {width:980px;}


}

/*最小宽度为1366px*/
@media (min-width:1366px) {
	.content,.header,.footer {width:1180px;}



}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
/*主内容区布局*/

.add_sv .clear_word{ color:#4f5159;}

/*保存成功提示*/
.mask_tips {position:fixed;left:50%;top:20%;margin-left:-170px;width: 340px;min-height: 40px;padding: 15px 0;background: url(alpha_b30.png);border-radius: 3px; z-index:9900004;background: url(alpha_b30.gif)\0;}
.mask_icon {width: 38px;height: 38px;background: url(main_sprit1.png) no-repeat;}
.mask_save_icon {margin: 0 0 0 100px;background-position: 0 -836px;}
.mask_use_icon {margin: 0 0 0 100px;background-position: 0 -836px;}
.mask_able_icon {margin: 0 0 0 32px;background-position: 0 -836px;}
.mask_able_icon2 {margin: 0 0 0 40px;background-position: 0 -836px;}
.mask_war_icon {margin: 0 0 0 40px;background-position: -115px -836px;}
.mask_text {margin-left: 15px;font: 18px/40px "Microsoft YaHei"; width:222px;line-height:20px; margin-top:8px;word-wrap: break-word;/*word-break:break-all;*/}


/*table.mainTab*/
table.nsw_pro_list{ border:0; margin:0; width:100%;border-collapse: collapse;}
table.nsw_pro_list th{font-weight: bold;color: #3e4048; line-height:16px; padding:10px 3px; font-size:14px;}
table.nsw_pro_list #tabHeader{line-height: 45px;font-weight: bold;color: #3e4048;background: #f6f6f6; border:1px solid #dcdcdc; }
table.nsw_pro_list #tabHeader td{ padding:10px; font-size:14px;}
table.nsw_pro_list tr:hover{ background-color:#f6f6f6;}
table.nsw_pro_list #tabBody, table.nsw_pro_list tr#tabBody:hover{ background-color:#fff;}
table.nsw_pro_list td{vertical-align:top;padding:5px 10px; line-height:25px;border:1px solid #dcdcdc;}


.tips1_ico {display: block;width: 21px;height: 21px;margin-top: 3px;background: url(main_sprit1.png) no-repeat -647px -179px;}

.nsw_add b{ font-weight:normal;}

div.nsw_add_proclsify .e_btn1,div.nsw_add_proclsify .e_btn2{height:28px;line-height:28px; width:88px;}
div.nsw_add_proclsify .e_btn1 input,div.nsw_add_proclsify .e_btn2 input{height:28px;line-height:28px;}
div.nsw_add_proclsify .e_btn1 i,div.nsw_add_proclsify .e_btn2 i{margin:4px 7px 0 18px}

.one_tab .addtab_ul{ border:0;}
.one_tab_1{ margin-top:0;}
.one_tab_1 .add_cont{ border-top:0;}

ul.w50_{ width:60%;}
ul.w50_ li{ width:33.333%}

ul.w25_{ width:50%;}
ul.w25_ li{ width:50%}

.c_fl .f_cb{ display:inline-block; float:left;}
span.text{ line-height:27px; display:inline-block;vertical-align:top; margin:0 10px; float:left;}
span.text_{ line-height:27px; display:inline-block;vertical-align:top; margin:0 10px;}

span.span_max_w80{ width:80px; display:inline-block;}
span.span_max_w50,.design_posi span.span_max_w50{ width:50px; display:inline-block;}
span.span_max_w30{ width:30px; display:inline-block;}
span.span_max_w100{ width:100px; display:inline-block;}
.div_selects_max_w120 span.clear_bd{ width:125px; display:inline-block; float:left;}

.vat{ vertical-align:top;}

.editor_warp .s_selt,.editor_warp .s_selt1{ width:80%;}
span.s_selt{ padding-right:0; overflow:hidden;}
.pad20 {padding:20px 20px 30px 20px;}

.settab_lh18 .add_label{line-height: 18px;}
.settab_lh18 .f_pdl15{ padding:0;}

.set_selects_w110 span.s_selt{ width:100px;}
.mb10{ margin-bottom:10px;}
.pl20{ padding-left:20px;}

/*内页模板管理*/
.model_box {width:90%; padding:38px 0 0 20px; height:180px;}

.model_side {position: relative;}
.model_tit {position:absolute;left:0;top:-30px;width:100%;line-height: 34px;background: #fffbf6;border-bottom: 1px solid #e3e3e3;}
.model_tit .model_type {position: relative;padding-left: 20px;margin-left: 28px;}
.model_tit .model_type i {position: absolute;left: 0;top: 12px;display: block;width: 12px;height: 12px;background: url(main_sprit1.png) no-repeat -680px -113px;}
.inpage_box {position: relative;}

.w_98{ width:98%;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}

#log,#log_{ position:fixed; top:10px; left:0; background:#efefef; padding:10px;}
#log_{ left:auto; right:0;}
.alertColumn{ min-width:100px; display:inline-block;}

.add_r>div,.add_r>span.clear_bd,.add_r>.i_shortdesc,.add_r>span.e_radio{ margin-left:5px;}

.pimgsv img{ width:100px;min-height:40px; max-height:100px;}

#nvtemps{ height:185px;}

.e_btn1,.e_btn2{ vertical-align:top;}


.insertimg_list_li{ position:relative;}
.insertimg_list_li i {display:none;position: absolute;width: 19px;height: 19px;background: url(main_sprit1.png) no-repeat; cursor:pointer;}
.insertimg_list_li i.v_edit{background-position: -36px -655px;bottom:7px; display:block; right:7px;}
.insertimg_list_li i.v_del{background-position:0px -657px; top:3px; right:0px; left:auto;}
.insertimg_list_li i.v_cat{background-position:-73px -656px; bottom:6px; right:25px; left:auto; display:block;}
/*详细页*/
.add_r .insertimg_list_li{ border:2px solid #F2F2F2; display:inline-block; padding-right:10px; padding:3px 2px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);                           
}
.add_r .insertimg_list_li img{ cursor:pointer;}
.add_r .insertimg_list_li i{display:none;}
.add_r .insertimg_list_li:hover i{display:block;}
.add_r .insertimg_list_li i.v_edit{bottom:0;left:0;}
.add_r .insertimg_list_li i.v_del{}
.add_r .insertimg_list_li i.v_cat
{
    bottom: 0px;
    right: -3px;
}
/*日期控件*/
.controls_calendar {width: 165px;border: 1px solid #dcdcdc;line-height: 27px;}
input.calendar_tx {width: 130px; cursor:pointer;}
.calendar_icon {display: inline-block;width: 17px;height: 17px;margin: 5px 5px 0 0;background: url(main_sprit1.png) no-repeat -525px -538px;}


.advan_posi .controls_calendar{display:inline-block; width:108px;}
.advan_posi input.calendar_tx{ width:70px;}

tr.parentid_1 td.rname{}
tr.parentid_1 td.rname i.contraction{background:red; width:11px; height:20px; display:inline-block; vertical-align:middle; margin-left:5px;background: url(main_sprit1.png) no-repeat -68px -27px;cursor:pointer;}
tr.parentid_1 td.rname i.contraction.cur{ background-position:-68px -47px;}
tr.parentid_1 td.rname a,tr.parentid_1 td.rname{ font-size:14px; color:#555; font-weight:bold;}


.top_nsw_tools_bar{ position:relative; margin-top:-15px;}
.top_nsw_tools_bar .batch_dropup{ bottom:auto; top:26px; border-top:0; border-bottom:1px solid #dcdcdc;}

.column_list .top_nsw_tools_bar{ border-top:1px solid #dcdcdc; margin-top:-3px;}

.wh_80{ width:80%; max-width:500px;}

#PictureSizeTips{ display:block;}
.hd{ display:none;}

/*login_index */
.wel_revise {float: right;padding: 20px 18px 10px 0;cursor: pointer;}
.wel_info {position:relative;margin: 7px 15px 10px 15px;}
.wel_info .wel_line {display:block;position:absolute;left:0;top:53%;width: 100%;height: 1px;background: #dcdcdc;overflow: hidden;}
.wel_table {position:relative;margin: 7px 10px 10px 0; padding:0px;}

.admin_btn {position: absolute;right:8px;top: 80%;}


.admin_table {width: 100%;border-collapse: collapse; border:#dedede solid 1px; margin-top:10px;}
.admin_table th { text-align:left; background:#f6f6f6;padding: 10px; color:#333; font-size:14px; border-bottom:#d8d8d8 solid 1px;}
.admin_table td {padding:10px;}
.admin_table td b{ color:#333; font-size:14px;}
.admin_table label {width: 34%;display: inline-block;}
.admin_table .clear_bd {width: 50%;}
.admin_table .wel_faq .clear_bd {width: 60%;padding-right: 0;}
.pass_faq {display:block;width:100%;height:27px;line-height:27px;border: 0;background: none;}
.revise_sub {display: block;position: absolute;right: 0;top: 0;width: 27px;height: 27px;pointer-events:none;background: url(main_sprit1.png) no-repeat -60px -21px #f6f6f6;}


/*login_index end */

.admin_btn input{ background:none; width:56px; height:20px; line-height:20px; color:#fff; text-align:left; position:absolute; top:0; left:0; text-indent:22px;}

/*form*/
label{ margin-right:10px;}
input {	margin: 0;	vertical-align: middle;	color: #114477;}
input.inputText {color: #336699;background: url(text_bg.gif) #F7FAFC repeat-x left top;	border:1px solid #6688AA;border-color: #9ab #cde #cde #abc;padding:3px 4px 3px;vertical-align:middle;}
select{ height:28px;border:1px solid #6688AA;border-color: #9ab #cde #cde #abc;-moz-border-radius: 2px;-webkit-border-radius: 2px; margin:0 20px 0 0px;}
textarea{color: #336699;background:#fff url(text_bg.gif) #F7FAFC repeat-x left top;	border:1px solid #6688AA;border-color: #9ab #cde #cde #abc;padding:3px 4px 3px;vertical-align:middle;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;}
input[type="text"], input[type="password"] {color: #336699;	background: url(text_bg.gif) #F7FAFC repeat-x left top;	border: 1px solid #6688AA;border-color: #9ab #cde #cde #abc;padding:3px 4px 3px;vertical-align:middle;-moz-border-radius: 2px;-webkit-border-radius: 2px;	line-height: 20px;}
input.inputTextHover {border-color: #EEBB00;}
input[type="text"]:hover, input[type="password"]:hover {border-color: #EEBB00;}
input[type="text"]:focus, input[type="password"]:focus {color:#147;	border-color: #66AFE9;background-color:#F7FAFC;	outline:1px solid rgba(102, 175, 233, 0.3);}
input.disabled {border-color: #ccc;background:#f5f5f5 none;	color:#aaa;}
input.readonly {border-color: #ddd;	background:#f5f5f5 none;color:#999;}
input[type="text"][disabled],
input[type="password"][disabled] {border-color: #ccc;	background:#eee none;color:#aaa;}
input.readonly[type="text"] {border-color: #ddd;background:#f5f5f5 none;color:#999;}
input.inputButton {
 +overflow:visible;
	color: #4c82a8;
	background:#fff url(buttonBg.png) repeat-x 0 -100px;
	border: 1px solid #667788;
	border-color: #c3ced9 #afbac5 #667788 #b9c4cf;
	cursor: pointer;
	height:20px;
	padding-left: 5px;
	padding-right: 4px;
	vertical-align:middle;
}
input[type="submit"], input[type="reset"], input[type="button"] {
  color: #fff;
  background:#f08300 url(btn.png) 10px 4px no-repeat;
  cursor: pointer;
  padding: 0 15px;
  padding-left:40px;
  height:30px;
  line-height:28px;
  letter-spacing:5px;
  font-size:14px;
  border:#f08300 solid 1px;
  -moz-border-radius: 1px;
  vertical-align:middle;
  border-radius:3px;
  -webkit-appearance: button;
  cursor: pointer;
  font-weight:400;
  margin:0 15px 0 0;
}
input[type="reset"], input[type="button"]{background:#fff url(btn.png) 10px -36px no-repeat;border:#dcdcdc solid 1px; color:#868686;}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus{box-shadow: #F60 0px 0px 6px; color:#fff;}
input[type="reset"]:hover, input[type="button"]:hover,
input[type="reset"]:focus, input[type="button"]:focus{box-shadow: #dcdcdc 0px 0px 6px; color:#868686;}

input.button3, input.button3:hover, input.button4, input.button4:hover{
  background:#fff url(btn.png) 10px -75px no-repeat;
  height:30px;
  line-height:28px;
  letter-spacing:3px;
  margin-left:10px;
  padding: 0 15px;
  padding-left:40px;
  margin-right:5px;
  border:#dcdcdc solid 1px; 
  color:#868686;
  border-radius:3px;
  display:inline-block;}
input.button3:hover{ color:#868686;box-shadow: #dcdcdc 0px 0px 6px;}
input.button4, input.button4:hover{background:#f08300 url(btn.png) 10px 4px no-repeat;color:#fff;border:#f08300 solid 1px;}
input.button4:hover{ box-shadow: #F60 0px 0px 6px;}

.button3, .button3:hover, .button4, .button4:hover{
  background:#fff url(btn.png) 10px -75px no-repeat;
  height:30px;
  line-height:28px;
  letter-spacing:3px;
  margin-left:10px;
  padding: 0 15px;
  padding-left:40px;
  margin-right:5px;
  border-radius:3px;
  display:inline-block;}
.button3:hover{ color:#868686;box-shadow: #dcdcdc 0px 0px 6px;}
.button4, .button4:hover{background:#f08300 url(btn.png) 10px 4px no-repeat;color:#fff;border:#f08300 solid 1px;}
.button4:hover{ box-shadow: #F60 0px 0px 6px;}

input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled], input[type="submit"][disabled]:hover, input[type="reset"][disabled]:hover, input[type="button"][disabled]:hover {	background-color:#F5F5F5;border-color: #ddd;color:#ccc;	box-shadow:none; cursor: default;}
input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"].disabled,input[type="checkbox"].disabled{ cursor: not-allowed;}

.RomNumber {FONT-SIZE: 9pt;overflow:hidden;background-color:highlight; border-right:0px;text-align:right;font-weight:bold;color:highlighttext;cursor:default;}
.txt_main{FONT-SIZE: 9pt;SCROLLBAR-FACE-COLOR: #f6f6f6;SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;SCROLLBAR-SHADOW-COLOR: #cccccc;SCROLLBAR-3DLIGHT-COLOR: #cccccc;SCROLLBAR-ARROW-COLOR: #330000;SCROLLBAR-TRACK-COLOR: #f6f6f6;SCROLLBAR-DARKSHADOW-COLOR: #ffffff;}

#myerr {color:#333;}
#myok {color:#333;font-size:14px; font-weight:bold; text-align:center;}

.clear{*zoom:1;clear:both;} /*ie6,7*/

a.pro_add,
a.pro_del,
a.pro_edit,
a.pro_view,
a.pro_rec,
a.pro_rec2{ display:inline-block; height:22px; line-height:22px; background:#fff url(cicon.png) 5px 0 no-repeat; padding:0 6px 0 22px; border:#d8d8d8 solid 1px; margin:0 4px; border-radius:3px;}
a.pro_del{ background-position:5px -22px;}
a.pro_edit{ background-position:5px -44px;}
a.pro_view{ background-position:5px -66px;}
a.pro_rec{ background-position:-83px -88px;}
a.pro_rec2{ background-position:5px -110px;}
a.pro_add:hover,
a.pro_del:hover,
a.pro_edit:hover,
a.pro_view:hover,
a.pro_rec:hover,
a.pro_rec2:hover{ background:#fff url(cicon.png) -83px 0 no-repeat; border:#EA7F00 solid 1px; color:#EA7F00;}
a.pro_del:hover{ background-position:-83px -22px;}
a.pro_edit:hover{ background-position:-83px -44px;}
a.pro_view:hover{ background-position:-83px -66px;}
a.pro_rec:hover{ background-position:-83px -88px;}
a.pro_rec2:hover{ background-position:-83px -110px;}

/*分类样式*/
#category_nav{ font-size:12px;}
#category_nav img{ margin-right:5px;}
#category_nav .sub-menu-head{ height:35px; line-height:35px; padding-left:25px;border-bottom:#d8d8d8 solid 1px;position:relative; cursor: pointer;}
#category_nav .sub-menu-head:hover{ background:#f6f6f6;}
#category_nav .sub-menu-head em{width:15px; height:35px; display:block; position:absolute; left:10px; top:0px;}
#category_nav .sub-menu-head em.close{background:url(Sort_Folder.gif) 0 center no-repeat; }
#category_nav .sub-menu-head em.open{background:url(Sort_Folder_open.gif) 0 center no-repeat; }
#category_nav .sub-menu-head span{ position:absolute; right:0px; top:7px; text-align:right;}
#category_nav .sub-menu-body{ display:none; padding:3px 0;border-bottom:#d8d8d8 solid 1px;}
#category_nav .sub-menu-body li{height:30px; line-height:30px; padding-left:45px; overflow:hidden;position:relative;}
#category_nav .sub-menu-body li:hover{ background-color:#f6f6f6;}
#category_nav .sub-menu-body li span{position:absolute; right:0px; top:3px; text-align:right;}
#category_nav .tree1{background: url(Sort_File.gif) 25px center repeat-y;}
#category_nav .tree2{background: url(Sort_File_End.gif) 25px center no-repeat;}
#category_nav .tree3{background: url(Sort_Listline.gif) 25px center repeat-y; padding-left:65px;}

/*分页样式开始*/
.turnover { height:60px; font-family:"宋体" ;text-align:center; margin-top:20px; font-size:14px;}
.turnover a, .turnover .current, .turnover .disabled{display:inline-block; height:32px; line-height:32px; padding:0 12px;margin-left:2px; text-align:center;}
.turnover a, .turnover .disabled { background:#fff;border:1px solid #ddd;text-decoration:none;}
.turnover a:hover, .turnover .current {border:1px solid #EA7F00; background:#EA7F00; color:#fff;  }
