@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; list-style:none; }
body { font-family:"Microsoft YaHei"; font-size:13px; background:#EEF2FB; }
img { border:none; }
.red { color:red; }
.must_input { font-weight:bold; color:red; }
.green { color:green; }
.blue { color:blue; }
.gray { color:gray; }
.purple { color:purple; }
.clear { clear:both; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:underline;  text-decoration:none; }
p { line-height:18px; }
#top_main { background-color:#368ee0;}
#top { width:980px; margin:0 auto; height:57px; }
#top_name { width:300px; height:57px; float:left; line-height:57px; }
#top_name h2 { color:#FFFFFF; font-size:24px;}
#top_menu { float:right; height:48px; }
#top_menu ul li { float:right;line-height:48px; }
#top_menu ul li a { font-weight:bold; color:#FFF; display:block; }
#top_menu ul li a:hover { text-decoration:none; }
#content_main { padding-top:2px; }
#content_title { display:none; }
#content_body { width:980px; margin:0 auto; padding:10px 0; }
#content_bottom { display:none; }
#left { float:left; width:140px; background-color:#FFFFFF; }
.left_title { height:28px; line-height:28px;  }
.left_title h2 { font-size:14px; color:#555; text-align:center; }
.left_body { overflow:hidden; zoom:1; padding:5px; }
.left_nav { text-align:center; }
.left_nav li { float:left; width:130px; text-align:center; line-height:22px; padding:1px; }
.left_nav li a {  display:block; color:#444444; }
.left_nav li a:hover { color:#FF1F1F; text-decoration:none; }
.left_nav li .current_nav {  color:#FF1F1F; text-decoration:none; }
.left_bottom { height:10px; }
#right { float:right; width:830px; }
.right_title { border:1px solid #e7ecf1; border-bottom:none; height:28px; line-height:28px; padding:0 10px; background-color:#555; }
.right_title h2 { font-size:14px; color:#fff; }
.right_body { padding:10px; overflow:hidden; zoom:1; border:1px solid #e7ecf1; border-top:none; background:#FFF;  }
.right_body h2 { font-size:16px; line-height:40px; color:red; padding-left:20px; }
.right_bottom { height:10px; }
#bottom_main { }
#bottom { width:980px; margin:0 auto; text-align:right; border-top:1px solid #CDCDCD; padding:10px 0; color:#CDCDCD; font-style:italic; font-size:14px; }
.xz_left {float:left; width:300px; background-color:#FFFFFF;}
.xz_tx {width:120px; height:120px; border-radius:50%; overflow:hidden; margin: 0 auto; margin-top:35px;}
.xz_title {text-align: center;margin-top:5px;margin-bottom:10px;height:30px;line-height:30px;}
.xz_title h1 { color:#5a7391;}
.xz_list {}
.xz_list ul { margin-bottom:5px;}
.xz_list ul li {
	height:40px;
	line-height:40px;
	margin-left:20px;
	margin-right:10px;
	}
.xz_list ul li a { color:#93a3b5; font-size:14px; text-decoration:none;}
.xz_list ul li a:hover { color:#337ab7; float-size:14px;}
.xz_list ul li a span { margin-left:10px;}
.xz_right { width:500px; float:right;}
.xz_rtitle {background-color:#FFFFFF; height:60px; line-height:60px; padding-left:20px;}
.xz_rtitle h1 { color:#3598dc; font-size:16px;}
.xz_rlist {background-color:#FFFFFF;}
.xz_rlist ul {}
.xz_rlist ul li { height:35px; line-height:35px; margin-left:20px;}
.xz_edit { background-color:#ff6c60;border-radius: 2px;padding: 3px 5px 3px 4px; color:#fff; margin-left:10px;text-decoration:none;}
.xz_edit1 {background-color:#34495e; border-radius: 2px;padding: 3px 5px 3px 4px; color:#fff; margin-left:10px;}
.xz_edit2 {background-color:#1abc9c; border-radius: 2px;padding: 3px 5px 3px 4px; color:#fff; margin-left:10px;}
.xz_rtitle1 {background-color:#FFFFFF; height:60px; line-height:60px; padding-left:20px; margin-top:10px;}
.xz_rtitle1 h1 { color:#3598dc; font-size:16px;}
/*底部*/
.foot { width:100%; float:left; background-color:#FFFFFF; padding-top:20px; padding-bottom:20px;}
.foot p { height:30px; line-height:30px;}
/*颜色获取*/
.ys {border-radius: 4px; width:80px; color:#fff; height:26px;background-color:#368ee0;border: 1px solid #368ee0;}
/*表格开始*/

.common_table { border-collapse:collapse; width:100%; }
.common_table td { padding:5px; border: 1px solid #E4E4E4; }
.common_table td td { border:none; padding:0; }
.common_table tr:hover td { background:#F2F2F2; }
.common_table th { text-align:center; border:1px solid #CBD0D4; background:url("images/th_bg.jpg")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/images/th_bg.jpg*/ repeat-x; padding:0 5px; color:#05159C; height:26px; line-height:26px; }
/*表单*/
input { font-family:"宋体"; font-size:12px; }
.form_text { font-family:"宋体"; font-size:12px; padding:5px; border-top:1px solid #c2cad8; border-left:1px solid #c2cad8; border-right:1px solid #c2cad8; border-bottom:1px solid #c2cad8; background:url("images/form_text.jpg")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/images/form_text.jpg*/ top repeat-x; border-radius: 4px; }
.form_select { font-family:"宋体"; font-size:12px; padding:4px; border: 1px solid #c2cad8; border-radius: 4px;  background:url("images/form_text.jpg")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/images/form_text.jpg*/ top repeat-x; }
.form_textarea { font-family:"宋体"; font-size:12px; width:90%; height:60px; padding:3px 5px; border:1px solid #CCC; }
.form_checkbox { padding:0; margin:0; }
.form_submit { font-family:"宋体"; font-size:14px; background:url("images/submit_button.jpg")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/images/submit_button.jpg*/ no-repeat; width:126px; height:34px; border:none; color:#FFF; font-weight:bold; cursor:pointer; }
.form_button { font-family:"宋体"; font-size:12px; cursor:pointer; margin:0; padding:0; height:22px; }
.form_file { font-family:"宋体"; font-size:12px; padding:3px 5px; border:1px solid #CCC; background:#FFF; }
.cms_editor { width:100%; height:500px; visibility:hidden; }
/*分页样式*/
.page_turner { padding:4px 0px 0px 1px; float:right; }
.page_turner a, .page_turner span { float:left; display:block; border:1px solid #CC0001; padding:3px 5px; margin-left:4px; line-height:16px; }
.page_turner a:link, .page_turner a:visited { text-decoration:none; }
.page_turner a:hover, .page_turner a.c { background:#CC0001; color:#FFF; }
#total { color:red; }
/*后台登陆*/
#login { width:630px; height:169px; padding-top:80px; margin:0 auto; margin-top:160px; border:5px solid #EEEEEE; background:url("images/login_bg.jpg")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/images/login_bg.jpg*/ top no-repeat; }
#login_left { float:left; width:300px; padding-left:40px; font-size:14px; color:#8E8E8E; }
#login_right { float:right; width:220px; padding-right:20px; }
#login table { border-collapse:collapse; }
#login_button { background:url("images/login_button.jpg")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/images/login_button.jpg*/ no-repeat; padding:0; margin:0; border:none; width:84px; height:28px; color:#FFF; font-size:14px; }
#login table td { padding:3px; border:none; font-weight:bold; }


.laydate-icon{border:1px solid #ccc; background-image:url("icon.png")/*tpa=http://www.804188.com.cdn103.hnpet.net:8081/admin/icon.png*/}

.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time{border:1px solid #ccc;}

.laydate_body .laydate_box, 
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time{box-shadow: 2px 2px 5px rgba(0,0,0,.1);}

.laydate_body .laydate_box{border-top:none; border-bottom:none; background-color:#fff; color:#00625A;}
.laydate_body .laydate_box input{background:none!important; color:#fff;}
.laydate_body .laydate_box .laydate_void{color:#00E8D7!important;}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{color:#00625A;}
.laydate_body .laydate_box a:hover{color:#666;}
.laydate_body .laydate_click{background-color:#009F95!important; color:#fff!important;}
.laydate_body .laydate_top{border-top:1px solid #009F95; background-color:#009F95}
.laydate_body .laydate_ym{border:1px solid #009F95; background-color:#009F95;}
.laydate_body .laydate_ym .laydate_yms{border:1px solid #009F95; background-color:#009F95; color:#fff;}
.laydate_body .laydate_y .laydate_yms a{border-bottom:1px solid #009F95;}
.laydate_body .laydate_y .laydate_yms .laydate_chdown{border-top:1px solid #009F95; border-bottom:none;}
.laydate_body .laydate_choose{border-left:1px solid #009F95;}
.laydate_body .laydate_chprev{border-left:none; border-right:1px solid #009F95;}
.laydate_body .laydate_choose:hover, 
.laydate_body .laydate_y .laydate_yms a:hover{background-color:#00C1B3;}
.laydate_body .laydate_chtop cite{border-bottom-color:#fff;}
.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label{border-top-color:#fff;}
.laydate_body .laydate_chprev cite{border-right-style:solid; border-right-color:#fff;}
.laydate_body .laydate_chnext cite{border-left-style:solid; border-left-color:#fff;}
.laydate_body .laydate_table{width: 240px!important; margin: 0!important; border:1px solid #ccc; border-top:none; border-bottom:none;}
.laydate_body .laydate_table td{border:none;  height:21px!important; line-height:21px!important; background-color:#fff; color:#00625A;}
.laydate_body .laydate_table .laydate_nothis{color:#999;}
.laydate_body .laydate_table thead{border-bottom:1px solid #ccc; height:21px!important; line-height:21px!important;}
.laydate_body .laydate_table thead th{}
.laydate_body .laydate_bottom{border:1px solid #ccc; border-top:none;}
.laydate_body .laydate_bottom #laydate_hms{background-color:#fff;}
.laydate_body .laydate_time{background-color:#fff;}
.laydate_body .laydate_time1{width: 226px!important; height: 152px!important;}
.laydate_body .laydate_bottom .laydate_sj{width:31px!important; border-right:1px solid #ccc; background-color:#fff;}
.laydate_body .laydate_bottom input{background-color:#fff; color:#00625A;}
.laydate_body .laydate_bottom .laydte_hsmtex{border-bottom:1px solid #ccc;}
.laydate_body .laydate_bottom .laydate_btn{border-right:1px solid #ccc;}
.laydate_body .laydate_bottom .laydate_v{color:#999}
.laydate_body .laydate_bottom .laydate_btn a{border: 1px solid #ccc; border-right:none; background-color:#fff;}
.laydate_body .laydate_bottom .laydate_btn a:hover{background-color:#F6F6F6; color:#00625A;}

.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover{background-color:#00C1B3; color:#fff;}

