html{color:#000;}
body{line-height:18px; text-align:center;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
ul{padding:0;margin:0;}
ul li{line-height:21px;}
body{font:12px/1.5 Arial,Tahoma,sans-serif;color:#55413a;}
ol,ul,dl{margin-left:0;}
.center_div { display:inline-block; zoom:1; *display:inline; vertical-align:middle;  width:200px; padding:10px; margin-top:100px; }
.hiddenDiv { height:100%; overflow:hidden; display:inline-block; width:1px; overflow:hidden; margin-left:-1px; zoom:1; *display:inline; *margin-top:-1px; _margin-top:0; vertical-align:middle;}
.loading_block{background:url(load_bg.png) repeat-x; width:506px; height:237px; border:#E9F2F2 solid 1px; border-radius:5px;box-shadow: #E9F2F2 0px 0px 6px;}
.loading_logo{margin:18px 0 10px 0;}
.loading_bar p{font-size:12px; line-height:22px;}
.loading_onclick{text-align: center; padding:15px 0 0 0;}
.loading_onclick p, .loading_onclick a{ color:#333;}
.loading_onclick a:hover{ text-decoration:underline; color:#000;}